@font-face{
	font-family: TT Lakes;
	src:url('fonts/TTLakes/TTLakes-Medium.woff');
}

@font-face{
	font-family: TT Lakes;
	src:url('fonts/TTLakes/TTLakes-Bold.woff');
}

@font-face{
	font-family: TT Lakes;
	src:url('fonts/TTLakes/TTLakes-Regular.woff');
}
* {
    font-family: "TT Lakes";
}
body {
    margin: 0;
    background-color: #F8F8F8;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
ul {   
    list-style: none;
    margin: 0;
    padding: 0;
  }

.header {
    background-color: white;
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header__icon {
    margin-top: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.headerMenu__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.burger-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.contact__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.header__icon_hiden {
    display: none;
    margin-top: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.header__group {
    margin-top: 19px;
    width: 97px;
    height: 51px;
}

.header__stick {
    background-image: url(img/divider.svg);
    margin-top: 28px;
    width: 2px;
    height: 32px;
}

.header__stick_hiden {
    background-image: url(img/divider.svg);
    margin-top: 28px;
    width: 2px;
    height: 32px;
}

.header__icon--burger {
    background-image: url(img/burger.svg);
}
.header__icon--search {
    background-image: url(img/search.svg);
}
.burger-icon--openBurger {
    background-image: url(img/openBurger.svg);
}
.header__icon--call {
    background-image: url(img/call.svg);
}
.header__icon--chat {
    background-image: url(img/chat.svg);
}
.header__icon--profile {
    background-image: url(img/profile.svg);
}
.header__icon--repair {
    background-image: url(img/repair.svg);
}
.header__icon--checkstatus {
    background-image: url(img/checkstatus.svg);
}

.title {
    display: flex;
    align-items: center;
    margin-top: 24px;
    width: 304px;
    height: 40px;
}

.title__img {
    background-image:url(img/highlight.svg);
    margin-right: 12px;
    height: 40px;
    width: 4px;
}

.title__text {
    font-weight: 700;
    font-size: 28px;
}

.title__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.title__items {
    display: none;
    margin-left: auto;
    margin-right: 32px;
}
.title__item {
    display: flex;
    align-items: center;
    width: 170px;
    height: 40px;
}
.title__item:first-child {
 margin-right: 32px;
}
.title__iconText {
    margin-right:8px ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: right;
}

.title__icon--repair {
    background-image: url(img/repair.svg);
}
.title__icon--checkstatus {
    background-image: url(img/checkstatus.svg);
}

.nav-scroller {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 20px 0 0 24px;
  }

  .nav-scroller__item {
    color: #7E7E82;
    background-color: #F8F8F8;
    display: flex;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #F8F8F8;
  }

  .nav-scroller__item:active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

.expand-button {
    width: 137px;
    height: 24px;
    margin: 16px 0px 16px 16px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #F8F8F8;
}
.expand-button__img {
    background-image: url(img/expand.svg);
    height: 24px;
    width: 24px;
}
.expand-button__text {
    font-size: 16px;
    line-height: 24px;
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.article__text {
    margin: 24px 16px 0px 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;

}
.article__textFirst_hiden {
    display: none;
    margin-right:16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.article__textSecond_hiden {
    display: none;
    margin-right:16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.article__picture {
    width: 100%; 
}

/* Бургер меню */
.burgerMenu {  
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    box-shadow:16px 0px 52px #0E185033;
    overflow: hidden;
    width: 320px;
    height: 100%;
}
.headerMenu {
    padding: 18px 0 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerMenu img {  
   margin-left: -55px; 
}
.headerMenu__icon:last-child {
    margin: 0px 24px 0px 0px ;
}
.mainMenu{
margin: 27px 0 auto 0;
}
.navBurger {
    list-style: none;
    width: 222px;
}
.navBurger a {
    width: 100%;
    display: block;
    padding: 14px 14px;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.burgerMenu .navBurger__item a:hover {
    transition: 0.5s;
    color: #7E7E82;
    background-image: url(img/highlight.svg);
    background-repeat: no-repeat;
    background-position: left;
    }
.contact {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 24px;
}
.contact-icons {
    display: flex;
    gap: 16px;
}
.contact__mail{
    margin-top: 15px;
}
.contact__mail a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.contact__number{
    margin-top: 10px;
}
.contact__number a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.contact__lang {
    display: flex;
    gap: 5px;
    margin: 22px 0 32px 0;
}
.contact__lang a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.contact__lang a:hover {
    transition: 0.5s;
    color: #7E7E82;
}
@media (min-width: 768px) {
    .header__icon_hiden {
        display: block;
    }

    .header__stick_hiden {
        display: block;
    }
    .header__group {
        margin-right: 225px;
    }
    .header__icon:first-child {
        margin-left: 10px;
    }
    .header__icon:last-child {
        margin-right: 10px;
    }
    .article {
        height: 208px;
        margin: 24px 0 0 24px;
    }

    .article__picture {
        margin-right: 25px;
        margin-left: auto;
        width: 360px;
        height: 208px;
        border-radius: 5px;
    }
    .article__items {
        width: 51%;
    }
    .article__text {
        margin: 0px 75px 0px 0px;
    }
    .article__textFirst_hiden {
        display: block;
        margin: 25px 75px 0px 0px;
    }
    .expand-button {
        margin-bottom: 0;
    }    
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .nav-scroller {
        flex-wrap: wrap;
    }
    .article {
        height: 307px;
    }
    .article__items {
        width: 51%;
    }
    .article__picture {
        margin-right: 28px;
        margin-left: auto;
        width: 531.34619140625px;
        height: 307px;
    }
    .article__textFirst_hiden {
        display: none;
    }
    .article__textSecond_hiden {
        display: block;
        margin: 25px 75px 0px 0px;
    }
    .title {
        margin-top: 38px;
        width: 100%;
    }
    .title__icon_hiden {
        display: block;
    }
    .title__items {
        display: flex;
    }
}

