@font-face {
    font-family: 'TT Lakes';
    font-weight: normal;
    src: url(/fonts/TTLakes/TTLakes-Regular.woff);
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    src: url(/fonts/TTLakes/TTLakes-Bold.woff);
}
@font-face {
    font-family: 'TT Lakes';
    font-style: italic;
    src: url(/fonts/TTLakes/TTLakes-Italic.woff);
}